/* CSS Stylesheet */

body {margin:0;}

.topnav {
  overflow: hidden;
  background-color: #5b5b5b;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: 589de5;
  color: #589de5;
}

.topnav a.active {
  background-color: #589de5;
  color: white;
}
body{

}

#banner {
  width: 100%;
  height: auto;
  overflow: hidden;
}

h1 {
  padding: 40px ;
  text-align: center;
}

img {
  overflow: hidden;
  padding-bottom: 5px;
}

nav {
  width: 1000px;
  height: auto;
}

ul {
    list-style-type: none;
    /*margin: 0;
    padding: 0; */
    background-color: #dddddd;
    width: 4000px;
}

li {
    float: left;
}

li a {
    display: inline;
    padding: 7px 60px;
    background-color: #5b5b5b
}

a:link {
  text-decoration: none;
  color: #f7f7f7;
}

a:visited {
  text-decoration: none;
  color: #f7f7f7;
}

a:hover {
  text-decoration: underline;
  background-color: blue;
  color: white;
}

#slideshow {
  width: 50%;
  height: 50%;
}

section {
  text-align: center;
  margin: 20px;
}

footer {
  display: inline;
  text-align: center;
  margin: 100%
}


footer ul li a{
  color: white;
  margin: auto;
  text-align: center;
}
